*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff7f5;
}

.container{
    width:390px;
    height:844px;
    background:white;
    border-radius:30px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);

    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo{
    margin-top:60px;
    font-size:40px;
    font-weight:bold;
    color:#e53935;
}

.logo span{
    color:#222;
}

.tagline{
    margin-top:30px;
    text-align:center;
    color:#444;
}

.tagline h2{
    font-size:20px;
    font-weight:500;
}

.illustration{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.illustration img{
    width:250px;
}

#startBtn{
    width:100%;
    padding:18px;
    border:none;
    border-radius:15px;
    background:#e53935;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

#startBtn:hover{
    background:#c62828;
}

.login{
    margin-top:20px;
    color:#555;
}

.login a{
    text-decoration:none;
    color:#e53935;
    font-weight:bold;
}